@import url("https://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap");

::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #3ea175;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #a5aaad;
}


.text-primary-p{
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}
.font-bold{
  font-weight: 700;
}
.text-title{
  color:#2e4a66;

}
.text-lightblue{
  color:#469cac;
}
.text-red{
  color: #cc3d38;
}
.text-yellow{
  color: #a98921;
}
.text-grren{
  color: #3b9668;
}
.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}


.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}
wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
border: 1px solid #fec107;
}

.wrapper .form .inputfield p{
 font-size: 14px;
 color: #757575;
}


.wrapper .form .inputfield .btn{
width: 100%;
padding: 8px 10px;
font-size: 15px; 
border: 0px;
background:  #017c12;
color: #fff;
cursor: pointer;
border-radius: 3px;
outline: none;
}

.wrapper .form .inputfield .btn:hover{
background: #ffd658;
}

.wrapper .form .inputfield:last-child{
margin-bottom: 0;
}

@media (max-width:420px) {
.wrapper .form .inputfield{
  flex-direction: column;
  align-items: flex-start;
}
.wrapper .form .inputfield label{
  margin-bottom: 5px;
}
.wrapper .form .inputfield.terms{
  flex-direction: row;
}
}
.containerHome{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main main";
}
table {
    border: medium solid #000000;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: thin solid #000000;
    width: 100%;
}

.main__container{
    padding: 25px 35px;
}
.main__title{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 978px){
  .containerHome{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
      "nav"
      "main";
  }
}

.style{
  width:70%;
}
.inactive-btn {
  border: none;
  padding: 8px;
  border-radius: 12px;
  color: white;
  background: grey;
}
.active-btn {
  color: white;
  border: none;
  padding: 8px;
  border-radius: 12px;
  background: black;
}