.intervalHour {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #6171A9;    cursor: pointer;
    padding-top: 3em;
}

.intervalHour .cellHour {
    margin-left: 8px;
    margin-top: 8px;
    padding-top: 2px;
}
